SUPABASE_URL=https://vneaijpccgheumkrvgim.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZWFpanBjY2doZXVta3J2Z2ltIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODcyMDkxMywiZXhwIjoyMDY0Mjk2OTEzfQ.zB-hwSjKFnZEkhQMLo_8XimgWmTdjPSGsDpnrhAqOo0